<!DOCTYPE html>
<html>
  <head>
    <title>noobishJS</title>
    <link href="/css/bootstrap.min.css" rel="stylesheet">
    <script src="/libs/moment.js" type="text/javascript"></script>
  </head>
  <body class="container">
      <div class="jumbotron">
        <h1>noobishJS</h1>
        <h3>Welcome to site noobishJS. This is a collection of some projects I built once upon a time I was noobish.</h3>
        <h2>Let's see what I've got</h2>
      </div>
      <div class="row">
        <div class="col-md-8">
        <div class="panel panel-info">
          <div class="panel-heading">
            <h4 class="panel-title">These are some of the projects I have worked on till now</h4>
          </div>
          <div class="panel-body">
            <table class="table table-hover table-responsive">
              <table class="table table-hover table-responsive">
                <tr>
                  <th>Project Name</th>
                  <th>Short Description</th>
                  <th>Start Date</th>
                  <th>End Date</th>
                  <th>Status</th>
                </tr>
                <% projs.forEach(function(proj){ %>
                  <tr>
                    <td><%=proj.projName %></td>
                    <td><%=proj.shortProjDesc %></td>
                    <td><%=proj.startDate %></td>
                    <td><%=proj.endDate %></td>
                    <td><%=proj.status %></td>
                  </tr>
                <% })%>
              </table>
            </table>
          </div>
          </div>
        </div>
        <div class="col-md-4">
          <div class="panel panel-warning">
            <div class="panel-heading">
              <h4 class="panel-title">
                LOGIN PANEL
              </h4>
            </div>
            <div class="panel-body">
              <div class="form-group">
                <input type="text" class="form-control" name="username">
              </div>
            </div>
          </div>
        </div>
        </div>
      </div>
  </body>
</html>
